<div class="row justify-content-center">
    <div class="col-md-3 d-flex justify-content-center">
      <div class="thumbnail">
        <a [href]="libros.imagen">
          <img [src]="libros.imagen" alt="Lights" style="width:100%">
          <div class="caption">
            <h2>placa:{{libros.id}}</h2>
            <h2>Marca:{{libros.nombre}}</h2>
            <h3>Modelo:{{libros.autor}}</h3>
            <h3>año:{{libros.anio}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
  