<form (ngSubmit) ="editar(fomrulario)" #fomrulario="ngForm">
    <label>Ingrese id editorial </label>
    <input type="text" placeholder="Ej: 1234567890"  name="id"[(ngModel)]="id">

    
    <label>Ingrese nombre</label>
    <input type="text" placeholder="Ej: Juan Pérez" name="nombre"[(ngModel)]="nombre">
    
    <label>Ingrese año</label>
    <input type="number" placeholder="Ej: 25" name="anio"[(ngModel)]="anio">

    <label>Ingrese Autor</label>
    <input type="text" placeholder="Ej: Juan Pérez" name="autor"[(ngModel)]="autor">

    <label>Ingrese link de la imagen</label>
    <input type="text" placeholder="Ej: 25" name="imagen"[(ngModel)]="imagen">
    
    

    <button type="submit">Enviar</button>
</form>
